/* Your styles here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@500&display=swap'); /* import font */

h1 , h2 ,h3 , h4{    /* setto gia' tutti gli H del documento se devo fare delle modifiche specifiche  creero' un nuovo stile sotto */
    font-family: 'Montserrat', sans-serif; 
    color: #25a2c3 ;
    line-height: 1.5;
    text-align: center;
    padding-top: 4vh;
}
p { /* setto gia' tutti i paragrafi del documento se devo fare delle modifiche spechifiche creero' un nuovo stile sotto */
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem ;
    color: #393d41;
    line-height: 1.65;
    padding-bottom: 3vh;
    text-align: center;
}
h1{         /* modifica particolare di h1 */
    font-size: 2em ;
    padding-bottom: 2vh;
    text-align: center;
}
h1 > p {   /* modifica particolare del paragro figlio di h1*/
    margin-left: 5vw;
    margin-right: 5vw;
}
#testimonianze{   /* setto e creo il banner rosso allineando anche il testo*/
    background-color: #e22d0e;
    text-align: center;
    padding: 3.7vh 1.8vw;
    margin-bottom: 5.2vh;
}
#testimonianze> h3:first-of-type{ /* setto le specifiche del primo tipo di h3 dentro il contenitore testimonianze */
    color: white;
    font-size: 4rem;
    margin-bottom: 3vh;
}
#testimonianze> p:first-of-type{ /* setto le specifiche del primo tipo di paragrafo dentro il contenitore testimonianze */
    color: white;
    font-size: 2rem;
    font-style: italic;
    margin: 0 7vw 3vh;
}
#testimonianze> blockquote:last-child{ /* setto le specifiche dell'ultimo figlio di tipo blockquote dentro ilc ontneitore testimonianze */
    font-size: 1.3rem;
}
blockquote{ /* setto tutti i blockquote del testo */
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 1.65;
    text-align: center;
    font-size: 2rem;
}
header{  /* setto sfondo e padding dell'heaqder */
    background-color: black;
    align-items: center;
    padding: 4vh 3vw;
}
header> img{ /* setto i margini e la grandezza dell'immagine dentro header */
    width: 15%;
    height: 20%;
}
#padre{
    display: flex;
    padding-top: 15vh;
    padding-bottom: 15vh;
}
#testiDestra{
    padding-left: 10vw;
    padding-right: 10vw;
}
.cerchio{  /* classe che uso se devo modificare delle immagini e farle a forma di cerchio */
    width: 500px;
    border-radius: 100%;
    overflow: hidden;
    padding-left: 15vw;
}
#TopCorso{ /* setto il div del primo banner dove inserisco l'immagine di sfondo e la gestisco inoltre gestisco anche padding e margini*/
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/banner.jpg);
    background-position-x: center;
    text-align: center;
    padding: 16vh 15vw 8vh;
}
button{  /* setto tutti i pulsanti (1 in questo caso) della pagina */
    font-family: 'Montserrat', sans-serif;
    font-size: bold;
    background-color: #f04c2f;
    color: white;
    border: white;
    border-radius: 5px;
    margin-top: 1.6vh;
    padding: 1.6vh 1.57vw;
}

.fotopc{        /* classe che uso per tutte le foto  dell'aside*/
    width: 50%;
    height: auto;
    padding-left: 150px;
}
aside{
    align-items: center;
}
#trio{
    width: 100%;
    height: 200px;
    padding: 10vh 3vw;
}
#sinistra
{
    float: left;
    width: 30%;
    height: 150px;
    margin-left: auto;
    border: 1px #dee1e3 solid;
    padding-bottom: 170px;
}
#centro
{
    float: left;
    width: 30%;
    height: 150px;
    margin-left: 3vw;
    border: 1px #dee1e3 solid;
    padding-bottom: 170px;
}
#destra
{
    float: right;
    width: 30%;
    height: 150px;
    margin-right: 4vw;
    padding: 20px;
    align-items: center;
    border: 1px #dee1e3 solid;
    padding-bottom: 150px;
}
aside> div.sezioni > h4{ /* setto la grandezza del font di tutti gli h4 del div sezioni dentro l'aside*/
    font-size: 1.3rem;
    text-align: center;
}
footer {    /* setto e gestisco lo sfondo del footer*/
    margin-top: 7vh;
    background-color: #25a2c3 ;
    text-align: center;
    padding-bottom: 5vh;
}
footer > h4{ /* setto e gestisco tutti gli h4 del footer (1 in questo caso)*/
    color: white;
    font-size: 2rem;
    padding-bottom: 4vh;

}
footer > address , a { /* setto e gestisco tutti gli address e gli a del footer */
    color: #c8e7f0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    padding-top: 0.3vh;
}
footer > address:last-of-type , a:last-of-type { /* setto e gestisco gli ultimi address e a del footer*/
    color: #c8e7f0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}
hr{  /* modifico l'hr */
    display: block;
    width: 50%;
    margin-top: 4vh;
    margin-bottom: 3.5vh;
}
.sottolineato{ /* classe che uso per eventuali testi a cui serve la sottolienatura */
    text-decoration: underline;
}

